.qa-child
  .question-form-container
    .question-tag
      %input{ type: 'text', class: 'form-control input-element question-name', autofocus: 'autofocus', name: 'question_content', placeholder: 'Question here', value: "#{question.present? ? question.content : ''}" }
      %input{ type: 'hidden', class: 'question-id', value: "#{question.present? ? question.id : ''}" }
      %input{ type: 'hidden', class: 'question-time', value: "#{question.present? ? question.seconds : ''}" }
    .options-container
      - if question.present? && question.options.present?
        - question.options.each do |option|
          .option
            - if question.option_type == 'radio'
              %input.option-values{ type: 'radio', name: 'option_value', value: option.id }
            - else
              %input.option-values{ type: 'checkbox', value: option.id, name: 'option_value' }
            %input{ type: 'text', class: 'form-control input-option input-element', name: 'option_value[][op_value]', placeholder: 'option 1', value: "#{option.opt_value.present? ? option.opt_value : '' }" }
