.questions-list-content
  %h4 Questions
  - if questions.present?
    - questions.each do |question|
      = render 'tests/child_question', question: question
  - else
    .empty-questions-content
      ******************* Question Not Created At Present ********************
