$('.question-and-options .question-content .err-content').html("");
<% if @errors.present? %>
  $('.question-and-options .question-content .err-content').html("<%= j render 'shared/errors', errors: @errors %>");
<% else %>
  showFlashMessage('success', 'Question successfully created');
  $(".question-and-options .questions").html("<%= j render 'tests/child_question', question: nil %>");
  $(".question-and-options .questions-list-container").html("<%= j render 'questions/questions_list', questions: @questions %>");
  $('.question-and-options .q-child').each(function(){
    $(this).removeClass('active');
  });
  $('.question-and-options .q-child:last').addClass('active');
<% end %>
