.user-submission-container
  .questions-list-content
    %h4 Questions
    - if @questions.present?
      .container
        .stepwizard
          .stepwizard-row.setup-panel
            - @questions.each_with_index do |question, index|
              .stepwizard-step
                - if index+1 == 1
                  %a.btn.btn-primary.btn-circle{:href => "#step-#{index+1}", :type => "button"}
                    = index + 1
                - else
                  %a.btn.btn-default.btn-circle{:disabled => "disabled", :href => "#step-#{index+1}", :type => "button"}
                    = index + 1
          %form{:action => "", :method => "post", :role => "form"}
            .timer-container{ style: 'text-align: right;' }
              %button#timer{ name: 'time_taken' }
            - @questions.each_with_index do |question, index|
              %div.row.setup-content{ id: "step-#{index+1}" }
                .col-md-12
                  = render 'questions/answer_the_question', question: question
                  %button.btn.btn-primary.nextBtn.btn-lg.pull-right{:type => "button"} Next

    - else
      .empty-questions-content
        ******************* Question Not Created At Present ********************
  = render 'shared/thankyou_form'

:javascript

  $(function(){
  var timer;
     var navListItems = $('div.setup-panel div a'),
          allWells = $('.setup-content'),
          allNextBtn = $('.nextBtn');

    allWells.hide();

    navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
                $item = $(this);

        if (!$item.hasClass('disabled')) {
            navListItems.removeClass('btn-primary').addClass('btn-default');
            $item.addClass('btn-primary');
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });

    allNextBtn.click(function(){
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='url']"),
            isValid = true;

        $(".form-group").removeClass("has-error");
        for(var i=0; i<curInputs.length; i++){
            if (!curInputs[i].validity.valid){
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }

        if (isValid){
          var questionId = $(this).siblings('.qa-child').find('.question-tag .question-id').val();
          var answers = $(this).siblings('.qa-child').find('.options-container [name=option_value]:checked').map(function(){
              return $(this).val();
          }).get();
          var timeTaken = $('#timer').text();
          $.ajax({
            method: 'POST',
            url: "#{answers_path}" + '?question_id=' + questionId + '&answers=' + answers + '&time_taken=' + timeTaken,
            dataType: 'script',
          });
          nextStepWizard.removeAttr('disabled').trigger('click');
        }
        var currentId = $(this).parents('.setup-content').attr('id');
        var lastWID = $('.stepwizard form').children('.setup-content:last').attr('id');
        if (lastWID == currentId) {
          $('#timer').hide();
          $.ajax({
            method: 'GET',
            url: "#{close_tests_path}",
            dataType: 'script'
          });
        }
    });

    $('div.setup-panel div a.btn-primary').trigger('click');
    $('.stepwizard').find('.setup-content').each(function(){
      if ($(this).is(':visible')) {
        var setupCont = $(this);
        var mins = setupCont.find('.question-tag .question-time').val()/60;
        var date = new  Date();
        date.setMinutes(date.getMinutes() + mins);
        $("#timer")
          .countdown(date, function(event) {
            $(this).text(
              event.strftime('%M:%S')
            );
        }).on('finish.countdown', function(){
          setupCont.find('.nextBtn').click();
        });
      }
    });

    $('#timer').click(function(e){
      e.preventDefault();
    });
  });


