.score-card-container
  .user-details
    .row
      .col-md-12
        .col-md-6
          %p
            %span
              %label
                = "Name : "
              = @user.name
          %p
            %span
              %label
                = "Email : "
              = @user.email
          %p
            %span
              %label
                = "Contact : "
              = @user.phone_number
        .col-md-6
          %p
            %span
              %label
                = "No of questions : "
              = @questions.size
          %p
            %span
              %label
                = "Attempted questions : "
              = @user_attempted_questions.size
          %p
            %span
              %label
                = "Total score : "
              = @correct_ans
