<% if @user.errors.present? %>
  $('.user-container .error-content').html("<%= j render 'shared/errors', errors: @user.errors.full_messages %>");
<% else %>
  $(window.location.replace("<%= questions_path %>"));
<% end %>
