.user-details-container
  .row
    .col-md-12.header-content
      .col-md-3
        Name
      .col-md-3
        Email
      .col-md-3
        Contact
      .col-md-3
        View Score
  - if @users.present?
    - @users.each do |user|
      .row
        .col-md-12.body-content
          .col-md-3
            = user.name
          .col-md-3
            = user.email
          .col-md-3
            = user.phone_number
          .col-md-3
            %a{ href: score_user_path(user.id) }
              Score
  - else
    .row
      .col-md-12.empty-questions-content
        **********Users Not Attempted!!!**********

= render 'shared/generic'
