.user-container
  .row
    .col-md-12
      .col-md-4.col-sm-3.col-xs-2
      .col-md-4.col-sm-6.col-xs-8.user-form
        .user-form-container
          .error-content
          %div
            %h4
              = t('provide_details')
          = form_tag("#{users_path}", method: 'POST', remote: true) do
            .row
              .col-md-12
                %label
                  = t('name')
                %input.form-control{ type: 'text', name: 'name' }
            .row
              .col-md-12
                %label
                  = t('email')
                %input.form-control{ type: 'text', name: 'email' }
            .row
              .col-md-12
                %label
                  = t('phone_number')
                %input.form-control{ type: 'text', name: 'phone_number' }
            .row
              .col-md-12.btn-actions
                %button.btn.btn-default{ type: 'submit' }
                  = t('submit')
      .col-md-4.col-sm-3.col-xs-2
