.score-card-container
  .row
    .col-md-12
      %h4
        Score Details
  .row
    .col-md-12
      .col-md-6
        %p
          %span
            %label
              = "Name : "
            = @user.name
          %p
            %span
              %label
                = "Email : "
              = @user.email
          %p
            %span
              %label
                = "Contact : "
              = @user.phone_number
      .col-md-6
        %p
          %span
            %label
              = "No of questions : "
            = @questions.size
          %p
            %span
              %label
                = "Attempted questions : "
              = @user_attempted_questions.size
          %p
            %span
              %label
                = "Total score : "
              = @correct_ans
  .row
    .col-md-12
      %h4
        Questions
  - @questions.each do |question|
    - qns_ans = question.answer_ids.map { |x| x.to_s }
    - user_qns = @user_attempted_questions.pluck(:question_id)
    - if user_qns.include? question.id
      - user_ans = @user_attempted_questions.where(question_id: question.id).first
      - user_ans_ids = user_ans.answer_ids
      - ans = user_ans_ids.map { |ans_id| qns_ans.include? ans_id }
      - if ans.all? { |ele| ele }
        .row
          .col-md-12
            .user-qn-content.green
              %div
                = "Q : #{question.content}"
              .timer-content
                = Time.at(user_ans.time_taken).utc.strftime("%M:%S")

      - else
        .row
          .col-md-12
            .user-qn-content.red
              %div
                = "Q : #{question.content}"
              .timer-content
                = Time.at(user_ans.time_taken).utc.strftime("%M:%S")
    - else
      .row
        .col-md-12
          .user-qn-content.dull
            %div
              = "Q : #{question.content}"
