#generic_modal{ :class => "modal fade", :role => "for forms", style: 'z-index: 2000;' }
  %div{ :class => "modal-dialog" }
    %div{ :class => "modal-content" }
      %div{ :class => "modal-header" }
        %button{ :type => "button", :class => "close", 'data-dismiss' => "modal", 'aria-label' => "Close" }
          %span{ 'aria-hidden' => "true" }
            &times;
        %h4{ :class => "modal-title" }
      %div{ :class => "modal-body" }
        %ul#error
        .row
          .col-md-12
            #content
