#generic_modal{ :class => "modal fade", :role => "for forms" }
  %div{ :class => "modal-dialog" }
    %div{ :class => "modal-content" }
      %div{ :class => "modal-header" }
        %button{ :type => "button", :class => "close", 'data-dismiss' => "modal", 'aria-label' => "Close" }
          %span{ 'aria-hidden' => "true" }
            &times;
        %h4{ :class => "modal-title" }
      %div{ :class => "modal-body" }
        %ul#error
        .row
          .col-md-12
            #content{ style: 'display: flex;flex-direction:column;align-items: center;justification-content: center;' }
              %a.btn.btn-default.btn1{ "data-dismiss": "modal" }
                CLOSE

