.qa-child{
  box-shadow: 1px 1px 5px #888888;
  margin: 15px 0;

  .question-form-container {
    padding: 20px;
    .question-tag {
      .question-name {
        border-radius: 0;
      }
    }
    .option {
      display: flex;
      margin-top: 15px;
    }
  }

  .form-control{
    border: 0;
    border-bottom: 1px solid #eeeeee;
    box-shadow: none;
    padding-left: 20px;
    &:focus{
      border-bottom: 2px solid #f1f1f1;
      border-radius: 0;
    }
  }
}

.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.empty-questions-content {
  padding: 100px 0;
  color: #f89406;
  font-weight: bold;
  text-align: center;
}
