.q-child{
  box-shadow: 1px 1px 5px #888888;
  margin: 15px 0;
  .question-option-container {
    padding: 20px;
    .question-tag {
      .question-name {
        flex-grow: 20 !important;
        border-right: 1px solid #888;
        border-radius: 0;
      }
    }
  }
}

.question-and-options {
  .question-content {
    .err-content {
      padding-left: 30px;
      > li {
        color: #f89406;
      }
    }
  }
  .q-child{
    .question-form-container {
      border: 1px solid #f5f5f5;
    }
    .option{
      display: flex;
      align-items: center;
      margin: 15px 0;
      input[type="text"] {
        background-color: #ffffff;
      }
      .answer-check {
        margin-right: 20px;
      }
    }
    .form-control{
      border: 0;
      border-bottom: 1px solid #eeeeee;
      box-shadow: none;
      padding-left: 20px;
      &:focus{
        border-bottom: 2px solid #f1f1f1;
        border-radius: 0;
      }
    }
    .question-tag{
      display: flex;
      align-items: center;
      background-color: #f8f5f7;
      .form-control{
        flex: 3;
        background-color: #f8f5f7;
      }
      button{
        margin: 10px 0;
      }
    }

    .form-buttons{
      text-align: right;
      margin: 15px 15px 4px 0;
    }
  }
}