.user-details-container {
  .header-content {
    padding: 12px 0;
    background: #888;
    color: #fff;
    font-weight: bold;
    .col-md-3:last-child {
      text-align: center;
    }
  }
  .body-content {
    padding: 12px 0;
    .col-md-3:last-child {
      text-align: center;
    }
  }
}

.user-container {
  .user-form {
    box-shadow: 1px 1px 5px #888888;
    .user-form-container {
      padding: 15px;
      .btn-actions {
        text-align: right;
        margin-top: 20px;
      }
    }
  }
}

.score-card-container {
  h4 {
    text-decoration: underline;
  }
  .user-qn-content {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    > div {
      margin: 15px 0;
      padding: 0 15px;
    }
  }

  .green {
    box-shadow: 1px 1px 5px #008000;
  }
  .red {
    box-shadow: 1px 1px 5px #FF0000;
  }

  .dull {
    box-shadow: 1px 1px 5px #888888;
  }
}
