.q-child.active
  .question-option-container
    .error-content
    = form_tag("#{questions_path}", method: 'POST', remote: true) do
      .question-form-container
        .question-tag
          %input{ type: 'text', class: 'form-control input-element question-name', autofocus: 'autofocus', name: 'question_content', placeholder: 'Question here', value: "#{question.present? ? question.content : ''}" }
          %select.form-control.option-choice{ name: 'option_type' }
            %option{ value: 'radio', selected: question.present? && question.option_type == 'radio' }
              Multiple Choice
            %option{ value: 'checkbox', selected: question.present? && question.option_type == 'checkbox' }
              Checkboxes
          %select.form-control.minute-choice{ name: 'minutes' }
            %option{ value: 1, selected: question.present? && question.seconds == 60 }
              1 min
            %option{ value: 2, selected: question.present? && question.seconds == 120 }
              2 min
            %option{ value: 3, selected: question.present? && question.seconds == 180 }
              3 min
            %option{ value: 4, selected: question.present? && question.seconds == 240 }
              4 min
            %option{ value: 5, selected: question.present? && question.seconds == 300 }
              5 min
        .options-container
          - if question.present? && question.options.present?
            - question.options.each do |option|
              .option
                %input{ type: 'text', class: 'form-control input-option input-element', onkeypress: "addOption(this, event)", name: 'option_value[][op_value]', placeholder: 'option 1', value: "#{option.opt_value.present? ? option.opt_value : '' }" }
                %input{ type: 'checkbox', class: 'answer-check input-element', value: 'false', name: 'option_value[][is_answer]', checked:  option.answerer_id.present?, onchange: "changeCheckVal(this)" }
          -else
            .option
              %input{ type: 'text', class: 'form-control input-option input-element', value: '', onkeypress: "addOption(this, event)", name: 'option_value[][op_value]', placeholder: 'option 1' }
              %input{ type: 'checkbox', class: 'answer-check input-element', value: 'false', name: 'option_value[][is_answer]', onchange: "changeCheckVal(this)" }
        - if question.blank?
          .form-buttons
            .btn-actions
              %button.btn.btn-default.edit-element{:type => "submit", :data => { :disable_with => "Processing" }}
                = t('save')

:javascript

  $(function(){
    $('.question-and-options').on("keypress", ".question-option-container form", function (e) {
      if (e.keyCode == 13) {
        return false;
      }
    });
  });

  function changeCheckVal(element) {
    if ($(element).val() === 'false') {
      $(element).val('true');
    } else {
      $(element).val('false');
    }
  }

  function addOption(element, event){
    if (event.which == 13){
      event.preventDefault();
      $(element).closest('.options-container').append('<div class="option"><input type="text" autofocus="autofocus" class="form-control input-option input-element" value="" onkeypress="addOption(this, event)" name="option_value[][op_value]"/><input type="checkbox" onchange="changeCheckVal(this)" class="answer-check input-element" value="false" name="option_value[][is_answer]"/></div>');
      $(element).parent('.option').next('.option').find('.input-option').focus().select();
    }
  }

