%span{:style => "color: green;"}
  %i.fa.fa-check-circle.fa-4x
%h2 Thank you!
%h5 Your Test submitted successfully
%span{ style: 'margin: 15px 0;' }
  %label
    = 'Total Score :'
  = @correct_ans
%a.btn.btn1.btn-close{"data-dismiss" => "modal", :style => "background-color: #008000;color: #ffffff;font-weight: bold;"} CLOSE

:javascript

  $(function(){
    $('.btn-close').on('click', function(){
      $(window.location.replace("#{ users_path }"));
    });
  });