.question-and-options
  .test-content
    %h4 Create New Question
    .question-content
      .err-content
      .questions
        = render 'tests/child_question', question: nil
      .questions-list-container
        = render 'questions/questions_list', questions: @questions
