.top-navigation-content
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{ type: "button", 'data-toggle' => "collapse", 'data-target' => "#bs-example-navbar-collapse-1", 'aria-expanded' => "false" }
          %span.sr-only
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ href: "#{root_path}" }
          = t('online_test')
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        - if session[:current_user].blank?
          %ul.nav.navbar-nav.navbar-right#user_info{ style: 'display: flex; align-items: center;' }
            %li
              %a{ href: details_users_path }
                = t('users')
            %li
              %a{ href: users_path }
                = t('take_test')
